# Pandas

## Część I

Będziemy przetwarzać dane z Kaggle odnośnie imion dzieci w USA.

Krok 0: wczytaj pandas

In [3]:
import pandas as pd

Krok 1: wczytaj dane z pliku `US_Baby_Names_right.csv` z katalogu `lab12_files`

Krok 2: przypisz dane do zmiennej `baby_names`. Zobacz jakiego typu dane są przechowywane i ile jest rekordów

Krok 3: podejrzy pierwszych 10 rekordów ze zbioru

Krok 4: usuń kolumny 'Unnamed: 0' oraz 'Id'

Krok 5: czy w zbiorze jest więcej imion kobiet, czy mężczyzn?

Krok 6: zgrupuj wiersze względem imion i wypisz 10 najczęściej pojawiających się imion.

Krok 7: wyniki z Kroku 6 zaprezentuj na wykresie korzystając z `matplotlib`. Przygotuj trzy wykresy, tj. 10 najczęsciej występujących imion: ogółem, u mężczyzn i u kobiet.

Krok 8: Jak wiele różnych imion występuje w zbiorze?

Krok 9: Przygotuj generator imion, losujący je zgodnie z rozkłądem prawdopodobieństwa otrzymanym na podstawie przetwarzanego pliku

In [66]:
names = babyNames.groupby('Name').sum()['Count']
data = dict(names/names.sum())
import numpy as np
np.random.choice(list(data.keys()), p=list(data.values()), size=20000)
samples = pd.DataFrame(names.sample(20000, weights=names, replace=True).index)

samples["Name"].value_counts().head(10)

Jacob        136
Emma         135
Ethan        130
Isabella     127
Michael      125
Olivia       117
Sophia       117
Alexander    116
Anthony      114
Daniel       114
Name: Name, dtype: int64

Krok 10: 
- Jakie imie występuje najczęściej?
- Wyznacz średnią, medianę i odchylenie stanadrdowe wystepowania imion.

In [67]:
babyNames=pd.read_csv('US_Baby_Names_right.csv')
#print(babyNames.dtypes)
#print(babyNames.shape[0])

#babyNames.head(10)
#print(babyNames.info())
#del babyNames['Unnamed: 0']
babyNames.drop(['Unnamed: 0' , 'Id'], axis=1, inplace=True)
#print(babyNames[:10])

# print(babyNames.groupby('Gender').sum()['Count'])

print(babyNames.groupby('Name').sum()['Count'].sort_values(ascending=False).head(10))

#print(babyNames[babyNames.Gender == 'M'].groupby(['Name']).sum(
#    )['Count'].sort_values(ascending=False).head(10))
#print(babyNames[babyNames.Gender == 'F'].groupby(['Name']).sum(
#    )['Count'].sort_values(ascending=False).head(10))
#babyNames['Name'].nunique()

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
William     197894
Joshua      191551
Sophia      191446
Daniel      191440
Emily       190318
Name: Count, dtype: int64

## Część II

Krok 1: Wczytaj dane

Krok 2: Podejrzyj pierwsze 25 rekordów

Krok 3: Podejrzyj ostatnie 10 rekordów

Krok 4: Ile jest obserwacji w zbiorze? Ile jest kolumn w zbiorze?

Krok 5: Wypisz nazwy kolumn

Krok 6: Ile różnych zawodów jest w zbiorze?

Krok 7: Przygotuj efektywny wykres na którym przedstawisz procetowy udział poszczególnych zawodów w zbiorze na charplocie
Wykorzystaj https://matplotlib.org/examples/pie_and_polar_charts/pie_demo_features.html

Przygotuj dwa wykresy: 
- jeden z wszystkimi zawodami
- drugi z 10 najcześtrzymi zawodami, pozostałem zawody trafiają do kategorii `Inne`

Krok 8: Przygotuj efektywny wykres na którym przedstawisz 10 najczęstrzych zawodów oraz ile pracuje w nich kobiet a ilu meżczyzn
Wykorzystaj https://matplotlib.org/gallery/api/barchart.html#sphx-glr-gallery-api-barchart-py

Krok 9: Przygotuj efektywny wykres na którym przedstawisz średni wiek pracowników danego zawodu

Krok 10: Przygotuj efektywny wykres na którym przedstawisz średni wiek kobiet i mężczyzn wykonujących dany zawód.

In [15]:
df = pd.read_csv('ocupation.csv', sep = '|')
df.head(25)
#df.tail(10)
#df.shape
#list(df.columns)
#len(df["occupation"].unique())

#%matplotlib inline

df2 = df.groupby('occupation').count()["age"]
# df2.plot.pie()

df3 = df2.sort_values().tail(11)
others = df2.sort_values()[:-11].sum()
df3['other'] += others
print(df3)

occupation
artist            28
scientist         31
executive         32
writer            45
librarian         51
programmer        66
engineer          67
administrator     79
educator          95
other            253
student          196
Name: age, dtype: int64

In [8]:
df.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841